[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/ec2-greenlink/bin/uwsgi -i /srv/GREENLINK-Server/greenlink/.config/uwsgi/greenlink.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target